cool
cooli
prompt
parser
evaluator
s_expressions
q_expressions
qexpr
sexpr
vars
funcs
cond
strings

*.gcov
*.gcno
*.gcda

# Cmake and development ignores
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
.idea/

# CCN stuff
consumer_keystore
